/**************************/
/* BELOW 480px (mobiles) (480/16=30em) */
/**************************/

@media (max-width: 30em) {
  .container {
    width: calc((327 / 16) * 1rem);
  }

  .tag-text,
  .published-day-text {
    font-size: calc((12 / 16) * 1rem);
  }

  .title-text a {
    font-size: calc((20 / 16) * 1rem);
  }

  .description-text {
    font-size: calc((14 / 16) * 1rem);
  }
}
